.upButtons {
  display: flex;
  justify-content: center;
}

.filtersButtons {
  display: flex;
  justify-content: space-around;
}

.button-nav {
  border-radius: 12px 0 12px 0;
  border: 1px solid rgb(89, 247, 247);
  color: rgb(89, 247, 247);
  font: bold 18px Electrolize;
  padding: 6px;
  box-shadow: 1px 1px 3px rgb(89, 247, 247);
  margin: 5px 30px;
  width: 200px;
  background: none;
  opacity: 0.6;
  letter-spacing: 1px;
}
.button-nav:hover {
  /*background-color: rgb(89, 247, 247);*/
  background: none;
  opacity: 0.8;
  color: rgb(89, 247, 247);
  transition: 0.3s;
  box-shadow: 0 0 20px rgb(89, 247, 247);
}
