.mainTitle {
  background-color: black;
  font-size: 2em;
  --interval: 1s;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  color: rgb(89, 247, 247);
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
  text-decoration: underline;
}
