@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

.contain {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contenu {
  position: relative;
  width: 40%;
  opacity: 0.7;
  border-radius: 14px;
  margin: 0 auto 0 auto;
  top: 10%;
  padding: 30px;
  background-color: black;
  text-align: center;
  color: rgb(89, 247, 247);
  text-shadow: 0 0 20px rgb(89, 247, 247);
  font-family: 'Electrolize', sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(89, 247, 247);
  transition: 2.6s;
  border-radius: 12px 0 12px 0;
}

.information {
  position: relative;
  width: 95%;
  margin: 0 auto 0 auto;
  border-radius: 14px;
  top: 55%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: rgb(89, 247, 247);
  text-shadow: 0 0 20px rgb(89, 247, 247);
  font-family: 'Electrolize', sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(89, 247, 247);
  transition: 2.6s;
  border-radius: 12px 0 12px 0;
}
.information p {
  text-align: justify;
  color: rgb(89, 247, 247);
  opacity: 0.9;
}
