.button-bottom {
  display: flex;
  justify-content: space-around;
}
.colorText {
  color: rgb(89, 247, 247);
  margin-right: 20px;
}
.flex {
  display: flex;
}
.direction {
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  width: 100%;
}
.grid {
  margin-right: 20px;
  width: 90%;
  height: 35vh;
}
