.mainTitle {
  font-size: 2.3em;
  --interval: 1s;
  text-align: center;
  width: auto;
  margin-top: 50px;
  text-shadow: 0 0 5px var(--color1), 0 0 10px var(--color2), 0 0 20px var(--color3),
    0 0 60px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  /*color: rgb(89, 247, 247);*/
  --color1: azure;
  --color2: aqua;
  --color3: dodgerblue;
  --color4: blue;
  text-decoration: underline;
}
