.heigth {
  height: 500px;
  background: linear-gradient(rgb(89, 247, 247, 0.5), rgb(89, 247, 247, 0.1));
  width: 60%;
  margin: 50px auto 0 auto;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: white;
}
.marge-large {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  background: linear-gradient(rgb(89, 247, 247, 0.5), rgb(89, 247, 247, 0.1));
  border-radius: 12px 0 12px 0;
  width: 20%;
  text-align: center;
  position: absolute;
  top: 600px;
  left: 77%;
}
.inline {
  display: inline-block;
  margin: 20px;
}
.article-content {
  width: 80%;
  text-align: justify;
  position: relative;
  margin: auto;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: blanchedalmond;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(89, 247, 247);
  border-radius: 12px 0 12px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.title {
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}
.chapeau {
  padding-bottom: 30px;
}
.dino-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-top: 30px;
}
.asteroide-container {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 30px;
  padding-top: 30px;
}
.dino {
  width: 30%;
  height: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.asteroide2 {
  width: 30%;
  height: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.link {
  color: blanchedalmond;
}
.planetsimg {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 30px;
}
.block {
  display: block;
  font-size: 1.1em;
  text-align: center;
  width: 20%;
  margin: 50px auto 10px auto;
  padding: 10px;
}
.block:hover {
  transition: 0.3s;
  box-shadow: 0 0 20px rgb(89, 247, 247);
}
.underline {
  text-decoration: underline;
}
.avatar {
  border-radius: 50%;
  width: 130px;
  margin: 10px;
}
