.text {
  color: white;
}

button {
  padding: 9px;
  margin: 9px;
  border-radius: 5px;
  transition: 0.6s;
}

button:hover {
  background-color: red;
}

button:active {
  background-color: green;
}

.red {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: red;
}
.green {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: green;
}
.fondBlanc {
  background-color: white;

  display: table-row;
  transition: 0.3s;
  text-align: center;
}
.containCalend {
  background-color: grey;
}
